<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2MdjqVyu_vRPWlzUQ8sEpO1zk1hTZ2Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>262399623474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoUiFlutter</string>
	<key>PROJECT_ID</key>
	<string>todos-e7069</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-e7069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262399623474:ios:bc0499b3a35c792444972b</string>
	<key>DATABASE_URL</key>
	<string>https://todos-e7069-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>